---
import { Image } from 'astro:assets';
import logoPng from '~/assets/images/logo.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image
    src={logoPng}
    alt="DNA Codes"
    width={24}
    height={32}
    class="hover:brightness-125 transition duration-200"
    style="display:inline-block;vertical-align:-0.5em;margin-right:0.25em;transform:rotate(45deg)"
  />
</span>
